body
	background-image radial-gradient(black,darkgrey)
	min-height 768px
	overflow hidden
	perspective 1000000px
	div
		position absolute
		transition 1s
	#主
		/*background cyan*/
		height 1px
		left 25%
		top 35%
		width 683px
		animation Ani 3s infinite
		transform rotate3D(-1,0,0,27deg)
		transform-style preserve-3D
		#一
			background red
			height 700px
			top -100px
			width 100%
			transform rotateX(90deg)
			&~*
				background-image radial-gradient(red,darkgreen,darkblue)
				border 3px solid cyan
				border-radius 50% 50% 0 0
				color white
				height 250px
				font-size 15em
				text-align center
				top 50%
				width 100%
				&:nth-child(odd)
					transform rotate3D(0,1,0,90deg)
		#二
			transform translateZ(-350px)
		#三
			left 50%
		#四
			transform translateZ(350px)
		#五
			left -50%
